<!--@subject  {{trans "ERROR: %domain." domain=$domain}} @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr><td>{{trans "ERROR: %message." message=$message}}</td></tr>
</table>
{{template config_path="design/email/footer_template"}}